@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

html{
    background: linear-gradient(to right, #5f5fcb, #41c2ea, #a364e5);
    margin:0;
}

header{
    width: 98%;
    height: auto;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171616;
    border-radius: 1em;
}

li {
    float: left;
    font-size: 1.5em;
    font-family: 'Alice', serif;
    border-radius: 1em;
    margin: 0.10%;
    vertical-align: middle;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.registro :hover {
    background-color: #4381e2;
    border-radius: 1em;
    font-size: 1.1em;
}

.marca :hover{
    font-size: 1.1em;
}

legend > h1{
    font-family: 'Alice', serif;
    font-size: 3em;
}

fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30% ;
    height: auto;
    margin: 1% auto;
    font-family: 'Alice', serif;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1%;
    border-color: black;
}

fieldset > label{
    font-size: 1.6em;
    margin: 0 auto;
}

fieldset > input{
    font-size: 1.5em;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    font-family: 'Alice', serif;
    border-color: black;
}

.boton_entrar{
    background-color: #4949ec;
    color: white;
    border-color: #4949ec;
    font-size: 1.3em;
    box-shadow: 0 5px rgba(73, 73, 236, 0.53);

}

.boton_entrar:hover{
    font-size: 1.5em;
    border-color: #4949ec;
    color: #4949ec;
    background-color: rgba(0, 0, 0, 0);
}

.marca{
    font-size: 1.7em;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 2px #8dcfff,
    1px 1px #3f45ff, 2px 2px 2px #d42eff,
    -1px -1px 2px #f15808;
}

.registro{
    float: right;
}

a{
    text-decoration: none;
    color: white;
}
a :hover{
    color: #4949ec;
}